services:
  app_customers:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app_customers
    env_file:
      - .env
    ports:
      - "${APP_PORT}:${APP_PORT}"
    volumes:
      - .:/app
    networks:
      - app_network
    command: ["./scripts/start.dev.sh"]

  db:
    image: postgres:15
    container_name: app_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
    name: app_network